{% extends "users/base.html" %}

{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/restaurant/main.css' %}">
{% endblock %}

{% block body_block %}
<title>Assiette de Poséidon ψ Menu</title>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-4 mx-auto" style="width: 80%; margin-left: auto; margin-right: auto;">
    <div class="card card0 border-0"  style="background-color: rgba(255, 255, 255, 0.6); ">
<div class="container" id="content">
    <div class="menudiv">


        <h1 id="menu_header">Discover Our Menu</h1>
        <p id="menu_header_sub">Freshly hand grabbed by the chef by order.</p>
        <br>

        {% if menu_list %}
            <!-- add for loop here, for each item in menu-->
            <div class="grid" id="menu-content" style=" margin-bottom: 10px;">

            {% for menuitem in menu_list %}
                <div class="card mb-1" style="width: auto; ">
                    <a href="/menu/{{ menuitem.itemID }}" class="row no-gutters clickable-item">
                        <div class="col-md-8">
                            <h5 class="card-title text-dark" style="padding-top:20px;" >
                                <strong>{{ menuitem.itemName }}</strong><hr>
                                <small>${{ menuitem.itemPrice }}</small>
                            </h5>
                            <p class="card-text">{{ menuitem.itemDescription }}</p>
                        </div>
                        <div class="col-md-4">
                            <img class="card-img" src="{{ menuitem.itemImage.url }}" alt="{{ menuitem.itemName }}">
                        </div>
                    </a>
                    {% if user.is_authenticated %}
                        {% if user.role == user.CHEF or user.role == user.ADMIN %}
                            <div class="btn-group" role="group">
                                <a href="{{menuitem.itemID}}" class="btn btn-success">Edit</a>
                                <a href="{{menuitem.itemID}}/delete" class="btn btn-danger">Delete</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p>There are no menu items in the menu.</p>
        {% endif %}
    </div>
</div>
</div>
</div>
{% endblock %}

{% block search_block %} {% endblock %}
