{% extends "users/base.html" %}
{% block stylesheets %}{% endblock %}
{% block body_block %}
<title>Assiette de Poséidon ψ Menu Form</title>
<div class="container">
  <div class="jumbotron">
      {% if registered_menuitem %}
        <h1>Menu Item has been Registered!</h1>
      {% else %}
        <h1>Register Menu Item Here</h1>
        <h3>Just fill out the form.</h3>

        <form method="POST" class="menuitem-form">
        {% csrf_token %}
        {{menu_form.as_p}}
        <button type="submit" class="save btn btn-default">Save</button>
        </form>

        <script>var editor = new MediumEditor('.editable');</script>
        {% endif %}
  </div>
</div>

{% endblock %}
