{% extends "users/base.html" %}
{% load static %}
{% block stylesheets %}{% endblock %}
{% block body_block %}
<title>Assiette de Poséidon ψ Menu</title>


<div class="jumbotron" id="content">
    <p></p>
    <h1 id="menu_header">Discover Our Menu</h1>
    <p id="menu_header_sub">Freshly hand grabbed by the chef by order.</p>

    {% if menu_list %}
        <!-- add for loop here, for each item in menu-->
        {% for menuitem in menu_list %}
        <div class="content_item">
            <div id="content_item_pic">
                    <img src={{menuitem.itemImage.url}} alt="">
            </div>
            <div id="content_item_info">
                <div id="content_item_name">
                    <h3 id="content_item_name_h3"> {{ menuitem.itemName }}</h3>
                </div>
                <div id="content_item_price">
                    <p id="content_item_price_p"> {{ menuitem.itemPrice }} </p>
                </div>
                <div id="content_item_info">
                    <p id="content_item_info_p"> {{ menuitem.itemDescription }} </p>
                </div>
                <!-- Add another div for review if created -->
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>There are no menu items in the menu.</p>
    {% endif %}
</div>

{% endblock %}
