.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
}

.clickable-item {
    text-decoration: none;
    color: black;
}

.clickable-item:hover {
    text-decoration: none;
    color: black;
}