<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function increase_compliment(){
            document.form1.action="increase_employeesCompliment";
            document.form1.submit();
            }

        function increase_complain(){
            document.form1.action="increase_employeesComplain";
            document.form1.submit();
            }

    </script>



</head>
<body>
<h2>Survey(complain/compliment)</h2>
{% csrf_token %}
    <input type="button" value="compliment" onclick="increase_compliment()">
    <input type="button" value="complain" onclick="increase_complain()">
    <br>
</form>
</body>
</html>